<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HEALTH MONITORING SYSTEM</title>
    <link rel="stylesheet" href="/index.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <a href="#" class="logo">HEALTH MONITORING SYSTEM</a>
      <nav class="navbar">
        <a href="#" style="--i: 1" class="active">Home</a>
        <a href="/frontend/index" style="--i: 2">Registration</a>
      </nav>
    </header>
    <section class="home">
      <div class="home-content">
        <h1>Welcome to Health monitoring system</h1>
        <h3>Powered by <span class="multiple-text"></span></h3>
        <p>
          The continual measurement of the vitals such
           as the SpO2, Pulse rate, Respiratory rate and Skin
            temperature can be done in an automated manner at specified 
            intervals. Emergency alerts can also be sent to the stakeholders in
             case of abnormal values. This enables senior citizens and chronic
              disease sufferers to get virtual healthcare in 
              the comfort and safety of their homes.
        </p>
        <div class="btn-box"></div>
      </div>
      <div class="home-img">
        <img src="/logo.png" alt="Powered  by MZRH" />
      </div>
    </section>

    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script src="script.js"></script>
  </body>
</html>
